@{ Layout = null; }

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Directive Sample</title>
</head>
<body>

    <h3>Greeting</h3>

    <greeting finnish hindi/>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/json3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/_app.js"></script>
    <script src="~/Scripts/directives/greeting.js"></script>

</body>
</html>
