@{ Layout = null; }

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/ui-darkness/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body ng-cloak>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/newEvent">New Event</a></li>
                    <li><a href="/listEvents">Events</a></li>
                </ul>
            </div>
        </div>

        <ng-view></ng-view>
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/_app.js"></script>
    <script src="~/Scripts/directives/mySample.js"></script>
    <script src="~/Scripts/directives/eventThumbnail.js"></script>
    <script src="~/Scripts/directives/upvote.js"></script>
    <script src="~/Scripts/directives/datekeys.js"></script>
    <script src="~/Scripts/directives/collapsible.js"></script>
    <script src="~/Scripts/controllers/HomeController.js"></script>
    <script src="~/Scripts/controllers/EventListController.js"></script>
    <script src="~/Scripts/controllers/EditEventController.js"></script>
    <script src="~/Scripts/controllers/EventDetailController.js"></script>
    <script src="~/Scripts/controllers/MainMenuController.js"></script>
    <script src="~/Scripts/controllers/SampleDirectiveController.js"></script>
    <script src="~/Scripts/services/EventData.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.js"></script>
    <script src="~/Scripts/directives/datePicker.js"></script>
    <script src="~/Scripts/filters/firstupper.js"></script>
    <script src="~/Scripts/filters/aspdate2jsdate.js"></script>
</body>
</html>
